{% extends 'base.html' %}
{%load static%}
{% block content %}

		<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
		<main id="mainContent" class="main-content">


			<!-- Start Hero Area -->
            <section class="section breadcrumb-area pt-100 pb-80" data-bg-img="assets/images/slider/01.jpg">
                <div class="container t-center">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                            <div class="section-top-title">
                                <h1 class="t-uppercase font-45">OUR DOCTORS</h1>
                                <ol class="breadcrumb">
                                    <li><a href="index-3.html"><i class="fa fa-home mr-10"></i>Home</a></li>
                                    <li class="active">Our doctors</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Hero Area -->

		    <section class="doctors-area doctors-list ptb-80">
				<div class="container">
					<div class="row pb-60">
						<div class="col-lg-4 col-md-5 ptb-10">
							<figure class="embed-responsive embed-responsive-4by3 bg-ct" data-bg-img="{{ detail_doctors.images.url 																			}}"></figure>
						</div>
						<div class="col-lg-8 col-md-7 ptb-10">
							<h3 class="t-uppercase">
								<a href="team-single.html">{{ detail_doctors.title}}</a>
							</h3>
							<h5 class="mb-15 color-theme">Doctor</h5>
							<ul class="social-icons list-inline font-16 mb-20">
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
	                        </ul>
							<p class="color-mid mb-20">Competently customize bricks-and-clicks core Competently customize bricks-and-clicks core competencies with adaptive leadership skills. Competently maintain intermandated. competencies with adaptive leadership skills. Competently maintain intermandated.</p>
							<a href="appointment.html" class="btn btn-o btn-rounded">Make Appoinment</a>
						</div>
					</div>
					<div class="row pb-60">
						<div class="col-lg-8 col-md-7 ptb-10">
							<h3 class="t-uppercase">
								<a href="team-single.html">John Doe</a>
							</h3>
							<h5 class="mb-15 color-theme">Doctor</h5>
							<ul class="social-icons list-inline font-16 mb-20">
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
	                        </ul>
							<p class="color-mid mb-20">Competently customize bricks-and-clicks core Competently customize bricks-and-clicks core competencies with adaptive leadership skills. Competently maintain intermandated. competencies with adaptive leadership skills. Competently maintain intermandated.</p>
							<a href="appointment.html" class="btn btn-o btn-rounded">Make Appoinment</a>
						</div>
						<div class="col-lg-4 col-md-5 ptb-10">
							<figure class="embed-responsive embed-responsive-4by3 bg-ct" data-bg-img="assets/images/doctors/02.jpg"></figure>
						</div>
					</div>
					<div class="row pb-60">
						<div class="col-lg-4 col-md-5 ptb-10">
							<figure class="embed-responsive embed-responsive-4by3 bg-ct" data-bg-img="assets/images/doctors/03.jpg"></figure>
						</div>
						<div class="col-lg-8 col-md-7 ptb-10">
							<h3 class="t-uppercase">
								<a href="team-single.html">John Doe</a>
							</h3>
							<h5 class="mb-15 color-theme">Doctor</h5>
							<ul class="social-icons list-inline font-16 mb-20">
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
	                        </ul>
							<p class="color-mid mb-20">Competently customize bricks-and-clicks core Competently customize bricks-and-clicks core competencies with adaptive leadership skills. Competently maintain intermandated. competencies with adaptive leadership skills. Competently maintain intermandated.</p>
							<a href="appointment.html" class="btn btn-o btn-rounded">Make Appoinment</a>
						</div>
					</div>
					<div class="row pb-60">
						<div class="col-lg-8 col-md-7 ptb-10">
							<h3 class="t-uppercase">
								<a href="team-single.html">John Doe</a>
							</h3>
							<h5 class="mb-15 color-theme">Doctor</h5>
							<ul class="social-icons list-inline font-16 mb-20">
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                            <li class="social-icons__item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
	                        </ul>
							<p class="color-mid mb-20">Competently customize bricks-and-clicks core Competently customize bricks-and-clicks core competencies with adaptive leadership skills. Competently maintain intermandated. competencies with adaptive leadership skills. Competently maintain intermandated.</p>
							<a href="appointment.html" class="btn btn-o btn-rounded">Make Appoinment</a>
						</div>
						<div class="col-lg-4 col-md-5 ptb-10">
							<figure class="embed-responsive embed-responsive-4by3 bg-ct" data-bg-img="assets/images/doctors/04.jpg"></figure>
						</div>
					</div>
                    <div class="view-more t-center">
                    	<a href="#" class="btn btn-lg btn-rounded">View More</a>
                    </div>
				</div>
			</section>




		</main>
		<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
		{% endblock %}