{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
		<main id="mainContent" class="main-content">

            <!-- Start Hero Area -->
            <section class="section hero-area">
                <div class="hero-wrapper" data-bg-img="assets/images/slider/04.jpg">
                    <div  id="header_video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=3JVqv_Rw8aU',containment:'.hero-wrapper',autoPlay:true, mute:true, startAt:0, opacity:1}"></div>
                    <div class="hero-overlay">
                        <div class="hero-overlay-wrapper">
                            <div class="pos-tb-center hero-overlay-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h1 class="t-uppercase mb-20">WE CARE ABOUT YOUR HEALTH</h1>
                                            <h4 class="mb-40">Suspendisse pulvinar, velit nec pharetra interdum ante tellus <br> ornare mi et mollis tellus neque vitae elit.</h4>
                                            <a class="btn btn-lg btn-rounded mt-20 mr-10" href="#">Get Free Quote</a>
                                            <a class="btn btn-lg btn-rev btn-rounded btn-o mt-20" href="#">Our Services</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Hero Area -->
            <!-- Start About Us Area -->
            <section class="section about-us-area pt-60">
                <div class="container">
                    <div class="row mb-40">
                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center">
                        	<h2 class="mb-15 t-uppercase">Welcome to <span class="color-theme">EMEDICAL</span></h2>
                          <p class="color-mid mb-20">Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.</p>
                        </div>
                    </div>
                    <div class="row about-services mb-30">
                    	<div class="col-md-3 col-sm-6">
	                    	<div class="service-single t-center">
	                    		<img class="service-icon" src="assets/images/icons/s-01.png" alt="">
	                    		<h4 class="mb-5">Dental Implents</h4>
	                    		<p class="color-mid">Vehicula rhoncus massa. Nunc volutpat nibh nulla, tincidunt egestas tellus faucibus nec.</p>
	                    	</div>
                    	</div>
                    	<div class="col-md-3 col-sm-6">
	                    	<div class="service-single t-center">
	                    		<img class="service-icon" src="assets/images/icons/s-02.png" alt="">
	                    		<h4 class="mb-5">Dental Implents</h4>
	                    		<p class="color-mid">Vehicula rhoncus massa. Nunc volutpat nibh nulla, tincidunt egestas tellus faucibus nec.</p>
	                    	</div>
                    	</div>
                    	<div class="col-md-3 col-sm-6">
	                    	<div class="service-single t-center">
	                    		<img class="service-icon" src="assets/images/icons/s-03.png" alt="">
	                    		<h4 class="mb-5">Dental Implents</h4>
	                    		<p class="color-mid">Vehicula rhoncus massa. Nunc volutpat nibh nulla, tincidunt egestas tellus faucibus nec.</p>
	                    	</div>
                    	</div>
                    	<div class="col-md-3 col-sm-6">
	                    	<div class="service-single t-center">
	                    		<img class="service-icon" src="assets/images/icons/s-04.png" alt="">
	                    		<h4 class="mb-5">Dental Implents</h4>
	                    		<p class="color-mid">Vehicula rhoncus massa. Nunc volutpat nibh nulla, tincidunt egestas tellus faucibus nec.</p>
	                    	</div>
                    	</div>
                    </div>
                </div>
            </section>
            <!-- End About Us Area -->
            <!-- Start Features Boxes Area -->
            <section class="section features-boxes-area pt-40">
                        <div class="container">
                    <div class="row row-md-cell color-white">
                        <div class="col-md-4 valign-top bg-theme">
                            <div class="features-boxe-single prl-10 pt-20 pb-15">
                                <h4 class="mb-20 t-uppercase">Emergency Case</h4>
                                <p class="mb-20">Duis tincidunt leo sed dolor lacinia posuere. Nulla eu aliquam enim. Proin et nibh ut massa lacinia lacinia. Duis sit amet dictum nisl, vitae porttitor nunc. Vestibulum ante ipsum.</p>
                                <a href="#" class="btn btn-o btn-rev">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-4 valign-top bg-blue-dark">
                            <div class="features-boxe-single prl-10 pt-20 pb-15">
                                <h4 class="mb-20 t-uppercase">24 Hours Service</h4>
                                <p class="mb-20">Duis tincidunt leo sed dolor lacinia posuere. Nulla eu aliquam enim. Proin et nibh ut massa lacinia lacinia. Duis sit amet dictum nisl, vitae porttitor nunc. Vestibulum ante ipsum.</p>
                                <a href="#" class="btn btn-o btn-rev">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-4 valign-top bg-blue-darker">
                            <div class="features-boxe-single prl-10 pt-20 pb-15">
                                <h4 class="mb-10 t-uppercase">Opening Hours</h4>
                                <ul class="opening-hours">
                                    <li>Monday – Thursday <span class="float-right">8.00 – 17.00</span></li>
                                    <li>Friday <span class="float-right">9.30 – 17.30</span></li>
                                    <li>Saturday - Sunday <span class="float-right">Closing</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>            </section>
            <!-- End Features Boxes Area -->

                        <!-- Start appointment Area -->
            <section class="section appointment-area pt-60">
                <div class="container">
                    <div class="row mb-30">
                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center mb-40">
                            <h6 class="section-subtitle mb-10 t-uppercase color-mid">WHY WE DO</h6>
                            <h2 class="section-title mb-20 font-22 t-uppercase">MAKE AN APPOINTMENT</h2>
                            <div class="heart-line">
                                <img src="assets/images/icon.png" alt="Awesome Image">
                            </div>
                        </div>
                    </div>
                    <div class="row services">
                        <div class="col-lg-6">
                            <img src="assets/images/appointment/img-01.png" alt="">
                        </div>
                        <div class="col-lg-6 ptb-40">
                            <div class="appointment-form">
                                <form action="https://imedical-theme.firebaseapp.com/assets/php/appointment.php" method="post" id="appointmentForm">
                                    <div class="row row-tb-10 row-rl-10">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="First Name" name="required['fname']" id="appointmentFname">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="Last Name" name="required['lname']" id="appointmentLname">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control input-lg" placeholder="Address Email" name="required['email']" id="appointmentEmail">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control input-lg" placeholder="Phone Number" name="required['phone']" id="appointmentPhone">
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control input-lg" name="required['gender']" id="appointmentGender">
                                                <option value="">Select Your Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Child">Child</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control input-lg field-date" placeholder="appointment Date" name="required['date']" id="appointmentDate">
                                        </div>
                                        <div class="col-xs-12">
                                            <textarea class="form-control input-lg" rows="7" placeholder="Message" name="required['message']" id="appointmentMessage"></textarea>
                                        </div>
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg btn-block" type="submit" id="appointmentSubmit">Submit</button>
                                        </div>
                                        <div class="col-xs-12">
                                            <div id="appointmentResponse" class="form-response">
                                                <span class="color-theme"><i class="fa fa-info-circle"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Start appointment Area -->
            <!-- Start About Us Area -->
            <section class="section about-us-area about-us-area-1 bg-gray ptb-60">
                <div class="container">
                    <div class="row row-tb-15">
                        <div class="col-sm-6">
                            <h6 class="color-theme mb-15">Welcome to Hospitals</h6>
                            <h2 class="font-22 mb-15">Best Medical & Health care Needs to Our Patients</h2>
                            <p class="mb-20 color-mid">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p class="mb-20 color-mid">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <a class="btn btn-lg btn-rounded">Read More</a>
                        </div>
                        <div class="col-sm-6">
                            <img src="assets/images/about/about.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Us Area -->

            <!-- Start About Company Area -->
            <section class="section about-hospital-area pt-60 pb-30">
                <div class="container">
                    <div class="row mb-30">
                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center mb-40">
                            <h6 class="section-subtitle mb-10 t-uppercase color-mid">How We Are</h6>
                            <h2 class="section-title mb-20 font-22 t-uppercase">WE GIVE YOU THE BEST</h2>
                            <div class="heart-line">
                                <img src="assets/images/icon.png" alt="Awesome Image">
                            </div>
                        </div>
                    </div>
                    <div class="row row-tb-15">
                        <div class="col-md-4">
                            <div class="column">
                                <div class="icon">
                                    <img src="assets/images/icons/i-02.png" alt="icon">
                                </div>
                                <div class="contrive-icon-text-holder">
                                    <h6 class="t-uppercase mb-15">General and Preventive Care</h6>
                                    <p class="color-mid">Maecenas eget libero at tellus mattis porta sed venenatis lorem. Sed ultricies, metus non maximus vulputate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column">
                                <div class="icon">
                                    <img src="assets/images/icons/i-03.png" alt="icon">
                                </div>
                                <div class="contrive-icon-text-holder">
                                    <h6 class="t-uppercase mb-15">Teeth whitening system</h6>
                                    <p class="color-mid">Maecenas eget libero at tellus mattis porta sed venenatis lorem. Sed ultricies, metus non maximus vulputate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column">
                                <div class="icon">
                                    <img src="assets/images/icons/i-10.png" alt="icon">
                                </div>
                                <div class="contrive-icon-text-holder">
                                    <h6 class="t-uppercase mb-15">Dentures & Denture Repair</h6>
                                    <p class="color-mid">Maecenas eget libero at tellus mattis porta sed venenatis lorem. Sed ultricies, metus non maximus vulputate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column">
                                <div class="icon">
                                    <img src="assets/images/icons/i-05.png" alt="icon">
                                </div>
                                <div class="contrive-icon-text-holder">
                                    <h6 class="t-uppercase mb-15">Additional Treatments</h6>
                                    <p class="color-mid">Maecenas eget libero at tellus mattis porta sed venenatis lorem. Sed ultricies, metus non maximus vulputate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column">
                                <div class="icon">
                                    <img src="assets/images/icons/i-06.png" alt="icon">
                                </div>
                                <div class="contrive-icon-text-holder">
                                    <h6 class="t-uppercase mb-15">Family Doctor services</h6>
                                    <p class="color-mid">Maecenas eget libero at tellus mattis porta sed venenatis lorem. Sed ultricies, metus non maximus vulputate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column">
                                <div class="icon">
                                    <img src="assets/images/icons/i-07.png" alt="icon">
                                </div>
                                <div class="contrive-icon-text-holder">
                                    <h6 class="t-uppercase mb-15">Ophthalmology</h6>
                                    <p class="color-mid">Maecenas eget libero at tellus mattis porta sed venenatis lorem. Sed ultricies, metus non maximus vulputate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End  About Company Area -->

            <!-- Start Our Team Area -->
            <section class="section doctors-area doctors-grid ptb-60">
                <div class="container">
                    <div class="row mb-30">
                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center mb-40">
                            <h6 class="section-subtitle mb-10 t-uppercase color-mid">MEET OUR DOCTORS</h6>
                            <h2 class="section-title mb-20 font-22 t-uppercase">Our Specialistes</h2>
                            <div class="heart-line">
                                <img src="assets/images/icon.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row row-tb-15 mb-40">
                        <div class="col-md-4 col-sm-6">
                            <div class="doctor-single">
                                <figure class="embed-responsive embed-responsive-4by3" data-bg-img="assets/images/doctors/doc-01.jpg">
                                    <div class="doctor-department p-15">
                                        <i class="icon-i-dental"></i>
                                    </div>
                                </figure>
                                <div class="entry-content p-20">
                                    <h4 class="h5 mb-5 t-uppercase">DR. BRIAN ADAM</h4>
                                    <h6 class="color-theme mb-10">Neurologist , epilepsy</h6>
                                    <p class="color-mid mb-20">Tempora repellendus consequuntur eius sed deserunt voluptatum omnis nulla culpa quidem</p>
                                    <div class="entry-more t-right">
                                        <a href="appointment.html" class="btn btn-sm btn-rounded btn-o">Make Appointment</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="doctor-single">
                                <figure class="embed-responsive embed-responsive-4by3" data-bg-img="assets/images/doctors/doc-02.jpg">
                                    <div class="doctor-department p-15">
                                        <i class="icon-i-cardiology"></i>
                                    </div>
                                </figure>
                                <div class="entry-content p-20">
                                    <h4 class="h5 mb-5 t-uppercase">DR. BRIAN ADAM</h4>
                                    <h6 class="color-theme mb-10">Neurologist , epilepsy</h6>
                                    <p class="color-mid mb-20">Tempora repellendus consequuntur eius sed deserunt voluptatum omnis nulla culpa quidem</p>
                                    <div class="entry-more t-right">
                                        <a href="appointment.html" class="btn btn-sm btn-rounded btn-o">Make Appointment</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 is-hidden-sm">
                            <div class="doctor-single">
                                <figure class="embed-responsive embed-responsive-4by3" data-bg-img="assets/images/doctors/doc-03.jpg">
                                    <div class="doctor-department p-15">
                                        <i class="icon-i-kidney"></i>
                                    </div>
                                </figure>
                                <div class="entry-content p-20">
                                    <h4 class="h5 mb-5 t-uppercase">DR. BRIAN ADAM</h4>
                                    <h6 class="color-theme mb-10">Neurologist , epilepsy</h6>
                                    <p class="color-mid mb-20">Tempora repellendus consequuntur eius sed deserunt voluptatum omnis nulla culpa quidem</p>
                                    <div class="entry-more t-right">
                                        <a href="appointment.html" class="btn btn-sm btn-rounded btn-o">Make Appointment</a>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="view-more t-center">
                        <a href="#" class="btn btn-lg btn-rounded"><i class="fa fa-plus mr-10"></i> View More</a>
                    </div>
                </div>
            </section>
            <!-- End Our Team Area -->

            <!-- Start Contact Info Area -->
            <section class="section contact-info-area ptb-80" data-bg-img="assets/images/background/bg-01.jpg">
                <div class="container t-center color-white">
                    <h5 class="mb-10">contactus@email.com</h5>
                    <h1 class="mb-20 font-50">+44 35 368 86 78</h1>
                    <h5 class="mb-10">609 Th Ave New York, NY 10017 <br> United States</h5>
                </div>
            </section>
            <!-- End Contact Info Area -->

            <!-- Start Featured Works -->
            <section class="section portifolio-area portifolio-area-3 ptb-60">
                <div class="container">
                    <div class="row mb-30">
                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center mb-40">
                            <h6 class="section-subtitle mb-10 t-uppercase color-mid">our portifolio</h6>
                            <h2 class="section-title mb-20 font-22 t-uppercase">OUR LATEST PROJECTS</h2>
                            <div class="heart-line">
                                <img src="assets/images/icon.png" alt="Awesome Image">
                            </div>
                        </div>
                    </div>
                    <div class="portifolio-filter">
                        <div>
                            <a href="#" class="filter" data-filter="all">All</a>
                        </div>
                        <div>
                            <a href="#" class="filter" data-filter=".class1">Psychiatry</a>
                        </div>
                        <div>
                            <a href="#" class="filter" data-filter=".class2">Medicine</a>
                        </div>
                        <div>
                            <a href="#" class="filter" data-filter=".class3">Rehabilitation</a>
                        </div>
                        <div>
                            <a href="#" class="filter" data-filter=".class4">Cardiac Surgery</a>
                        </div>
                    </div>
                    <div class="portifolio-wrapper row row-tb-15">
                        <div class="col-md-4 col-sm-6 mix class1 class3">
                            <div class="portifolio-single">
                                <figure class="work-img">
                                    <img src="assets/images/gallery/01.jpg" alt="">
                                </figure>
                                <div class="portifolio-hover">
                                    <div class="inner-hover pos-tb-center">
                                        <h4 class="t-uppercase mb-20">Modern Building</h4>
                                        <div class="portifolio-icons">
                                            <a class="portifolio-icon" href="images/home/6.html">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                            <a class="portifolio-icon" href="#">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mix class4 class2">
                            <div class="portifolio-single">
                                <figure class="work-img">
                                    <img src="assets/images/gallery/02.jpg" alt="">
                                </figure>
                                <div class="portifolio-hover">
                                    <div class="inner-hover pos-tb-center">
                                        <h4 class="t-uppercase mb-20">Modern Building</h4>
                                        <div class="portifolio-icons">
                                            <a class="portifolio-icon" href="images/home/6.html">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                            <a class="portifolio-icon" href="#">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mix class1 class3">
                            <div class="portifolio-single">
                                <figure class="work-img">
                                    <img src="assets/images/gallery/03.jpg" alt="">
                                </figure>
                                <div class="portifolio-hover">
                                    <div class="inner-hover pos-tb-center">
                                        <h4 class="t-uppercase mb-20">Modern Building</h4>
                                        <div class="portifolio-icons">
                                            <a class="portifolio-icon" href="images/home/6.html">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                            <a class="portifolio-icon" href="#">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mix class4 class2">
                            <div class="portifolio-single">
                                <figure class="work-img">
                                    <img src="assets/images/gallery/04.jpg" alt="">
                                </figure>
                                <div class="portifolio-hover">
                                    <div class="inner-hover pos-tb-center">
                                        <h4 class="t-uppercase mb-20">Modern Building</h4>
                                        <div class="portifolio-icons">
                                            <a class="portifolio-icon" href="images/home/6.html">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                            <a class="portifolio-icon" href="#">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mix class3 class1">
                            <div class="portifolio-single">
                                <figure class="work-img">
                                    <img src="assets/images/gallery/05.jpg" alt="">
                                </figure>
                                <div class="portifolio-hover">
                                    <div class="inner-hover pos-tb-center">
                                        <h4 class="t-uppercase mb-20">Modern Building</h4>
                                        <div class="portifolio-icons">
                                            <a class="portifolio-icon" href="images/home/6.html">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                            <a class="portifolio-icon" href="#">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mix class2 class4">
                            <div class="portifolio-single">
                                <figure class="work-img">
                                    <img src="assets/images/gallery/06.jpg" alt="">
                                </figure>
                                <div class="portifolio-hover">
                                    <div class="inner-hover pos-tb-center">
                                        <h4 class="t-uppercase mb-20">Modern Building</h4>
                                        <div class="portifolio-icons">
                                            <a class="portifolio-icon" href="images/home/6.html">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                            <a class="portifolio-icon" href="#">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Featured Works -->


                        <!-- Start Testimonials Area -->
            <section class="section testimonials-area testimonials-area-4 ptb-50" data-bg-img="assets/images/background/bg-02.jpg">
                <div class="container">
                    <div class="testimonial-list owl-carousel" data-dots="true">
                        <div class="single-testimonial">
                            <div class="testimonial-author">
                                <img src="assets/images/testimonial/01.jpg" alt="" />
                            </div>
                            <p class="color-white font-15 mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.</p>
                            <h4 class="color-white">BRIAN ADAM</h4>
                            <h6 class="color-white t-bold">ceo of facebook</h6>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-author">
                                <img src="assets/images/testimonial/02.jpg" alt="" />
                            </div>
                            <p class="color-white font-15 mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.</p>
                            <h4 class="color-white">BRIAN ADAM</h4>
                            <h6 class="color-white t-bold">ceo of facebook</h6>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-author">
                                <img src="assets/images/testimonial/03.jpg" alt="" />
                            </div>
                            <p class="color-white font-15 mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.</p>
                            <h4 class="color-white">BRIAN ADAM</h4>
                            <h6 class="color-white t-bold">ceo of facebook</h6>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Testimonials Area -->
            <!-- Start Latest News Area  -->
            <section class="section blog-area blog-list latest-news ptb-60">
                <div class="container">
                    <div class="row mb-30">
                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center mb-40">
                            <h6 class="section-subtitle mb-10 t-uppercase color-mid">From Our Blog</h6>
                            <h2 class="section-title mb-20 font-22 t-uppercase">Latest news</h2>
                            <div class="heart-line">
                                <img src="assets/images/icon.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row row-tb-15">
                                                <!-- Blog Post -->
                        <div class="blog-post col-md-6">
                            <article class="entry">
                                <div class="row row-rl-0 row-tb-0 row-md-cell">
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9 col-absolute-cell" data-bg-img="assets/images/blog/post-01.jpg">
                                        </figure>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-7 prl-15 prl-md-20">
                                        <div class="entry-wrapper">
                                            <header class="entry-header">
                                                <h5 class="entry-title mb-10 mb-md-15">
                                                    <a href="blog_single_standard.html">Vivamus sem massa cursus at mollis eu euismod</a>
                                                </h5>
                                                <div class="entry-meta mb-10">
                                                    <ul class="tag-info list-inline">
                                                        <li><i class="mr-5 fa fa-calendar"></i>23 Mar 2017</li>
                                                        <li><i class="mr-5 fa fa-user"></i> By : John Doe</li>
                                                    </ul>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                                <p class="entry-summary mb-20">Duis tincidunt leo sed dolor lacinia posuere. Nulla eu aliquam enim. Proin et nibh ut.</p>
                                            </div>
                                            <footer class="entry-footer">
                                                <a href="blog_single.html" class="more-link btn btn-sm">Read More</a>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End Blog Post -->
                                                <!-- Blog Post -->
                        <div class="blog-post col-md-6">
                            <article class="entry">
                                <div class="row row-rl-0 row-tb-0 row-md-cell">
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9 col-absolute-cell" data-bg-img="assets/images/blog/post-02.jpg">
                                        </figure>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-7 prl-15 prl-md-20">
                                        <div class="entry-wrapper">
                                            <header class="entry-header">
                                                <h5 class="entry-title mb-10 mb-md-15">
                                                    <a href="blog_single_standard.html">Vivamus sem massa cursus at mollis eu euismod</a>
                                                </h5>
                                                <div class="entry-meta mb-10">
                                                    <ul class="tag-info list-inline">
                                                        <li><i class="mr-5 fa fa-calendar"></i>23 Mar 2017</li>
                                                        <li><i class="mr-5 fa fa-user"></i> By : John Doe</li>
                                                    </ul>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                                <p class="entry-summary mb-20">Duis tincidunt leo sed dolor lacinia posuere. Nulla eu aliquam enim. Proin et nibh ut.</p>
                                            </div>
                                            <footer class="entry-footer">
                                                <a href="blog_single.html" class="more-link btn btn-sm">Read More</a>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End Blog Post -->
                                                <!-- Blog Post -->
                        <div class="blog-post col-md-6">
                            <article class="entry">
                                <div class="row row-rl-0 row-tb-0 row-md-cell">
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9 col-absolute-cell" data-bg-img="assets/images/blog/post-03.jpg">
                                        </figure>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-7 prl-15 prl-md-20">
                                        <div class="entry-wrapper">
                                            <header class="entry-header">
                                                <h5 class="entry-title mb-10 mb-md-15">
                                                    <a href="blog_single_standard.html">Vivamus sem massa cursus at mollis eu euismod</a>
                                                </h5>
                                                <div class="entry-meta mb-10">
                                                    <ul class="tag-info list-inline">
                                                        <li><i class="mr-5 fa fa-calendar"></i>23 Mar 2017</li>
                                                        <li><i class="mr-5 fa fa-user"></i> By : John Doe</li>
                                                    </ul>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                                <p class="entry-summary mb-20">Duis tincidunt leo sed dolor lacinia posuere. Nulla eu aliquam enim. Proin et nibh ut.</p>
                                            </div>
                                            <footer class="entry-footer">
                                                <a href="blog_single.html" class="more-link btn btn-sm">Read More</a>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End Blog Post -->
                                                <!-- Blog Post -->
                        <div class="blog-post col-md-6">
                            <article class="entry">
                                <div class="row row-rl-0 row-tb-0 row-md-cell">
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9 col-absolute-cell" data-bg-img="assets/images/blog/post-04.jpg">
                                        </figure>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-7 prl-15 prl-md-20">
                                        <div class="entry-wrapper">
                                            <header class="entry-header">
                                                <h5 class="entry-title mb-10 mb-md-15">
                                                    <a href="blog_single_standard.html">Vivamus sem massa cursus at mollis eu euismod</a>
                                                </h5>
                                                <div class="entry-meta mb-10">
                                                    <ul class="tag-info list-inline">
                                                        <li><i class="mr-5 fa fa-calendar"></i>23 Mar 2017</li>
                                                        <li><i class="mr-5 fa fa-user"></i> By : John Doe</li>
                                                    </ul>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                                <p class="entry-summary mb-20">Duis tincidunt leo sed dolor lacinia posuere. Nulla eu aliquam enim. Proin et nibh ut.</p>
                                            </div>
                                            <footer class="entry-footer">
                                                <a href="blog_single.html" class="more-link btn btn-sm">Read More</a>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End Blog Post -->
                                            </div>
                </div>
            </section>
            <!-- End Latest News section  -->

            <!-- Start Partners Area  -->
            <section id="partners" class="ptb-30 bg-gray">
                <h2 class="is-hidden">Partners</h2>
                <div class="container">
                    <div class="owl-carousel" data-loop="true" data-autoplay="true" data-smart-speed="1000" data-autoplay-timeout="10000" data-margin="20" data-items="2" data-xxs-items="2" data-xs-items="2" data-sm-items="3" data-md-items="5" data-lg-items="6">
                        <div class="partner-item">
                            <img src="assets/images/brands/logo1.png" alt="image">
                        </div>
                        <div class="partner-item">
                            <img src="assets/images/brands/logo2.png" alt="image">
                        </div>
                        <div class="partner-item">
                            <img src="assets/images/brands/logo3.png" alt="image">
                        </div>
                        <div class="partner-item">
                            <img src="assets/images/brands/logo4.png" alt="image">
                        </div>
                        <div class="partner-item">
                            <img src="assets/images/brands/logo6.png" alt="image">
                        </div>
                        <div class="partner-item">
                            <img src="assets/images/brands/logo6.png" alt="image">
                        </div>
                    </div>
                </div>
                <!-- End Container -->
            </section>
            <!-- End Partners Area  -->



		</main>
		<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
{% endblock %}