{% load static %}

<!-- –––––––––––––––[ FOOTER ]––––––––––––––– -->
<footer class="main-footer pt-60">
    <div class="container">
        <div class="footer-widgets">
            <div class="row row-masnory">
                <div class="col-md-4 col-sm-6 pb-50">
                    <div class="widget">
                        <h2>About us</h2>
                        <p class="mb-10">Vivamus sem massa, cursus at mollis eu, euismod id risus. Vestibulum nunc ante, sagittis ut nisl at, porta porttitor justo. Nam imperdiet imperdiet volutpat. Sed vitae quam congue.</p>
                        <ul class="social-icons list-inline">
                            <li class="social-icons__item pt-10"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons__item pt-10"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-icons__item pt-10"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="social-icons__item pt-10"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-icons__item pt-10"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 pb-50">
                    <div class="widget">
                        <h2>Twitter Feed</h2>
                        <div class="twitter-widget">
                            <div class="single_twitter">
                                <p class="mb-15"><a href="#" class="color-theme">@CODASTROID :</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus.</p>
                            </div>
                            <div class="single_twitter">
                                <p class="mb-15"><a href="#" class="color-theme">@CODASTROID :</a> Integer vel lorem tincidunt, pharetra eros nec, posuere odio. Nullam eget bibendum sem.</p>
                            </div>
                        </div>
                    </div>
                </div>
       
                <div class="col-md-4 col-sm-6 pb-50">
                    <div class="widget get-in-touch">
                        <h2>Opening Hours</h2>
                        <ul class="opening-hours">
                            <li>Monday – Thursday <span class="float-right">8.00 – 17.00</span></li>
                            <li>Friday <span class="float-right">9.30 – 17.30</span></li>
                            <li>Saturday <span class="float-right">9.30 – 15.00</span></li>
                            <li>Sunday <span class="float-right">Closing</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <h6 class="copyright"> iMedical © Copyright 2015. All rights reserved. </h6>
        </div>
    </div>
</footer>
<!-- –––––––––––––––[ END FOOTER ]––––––––––– -->